body {
    font-family: system-ui, sans-serif;
    background: linear-gradient(135deg, #0f3780, #007aa6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: rgba(0,0,0,0.25);
    padding: 30px;
    border-radius: 16px;
    width: 450px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
    overflow: hidden;
}

.row input {
    border: none;
    background: transparent;
    color: white;
    padding: 12px 14px;
    font-size: 14px;
    outline: none;
}

.row input:first-child {
    width: 65%;
}

.row input:last-child {
    width: 35%;
    text-align: right;
    font-family: monospace;
    border-left: 2px solid rgba(255,255,255,0.35);
}
.gift-cell {
    width: 35%;
    text-align: right;
    padding-right: 10px;
    transition:  200ms;
}

.disappearing{
    opacity: 0;
}

.gift {
    display: inline-block;
    transition: transform 400ms ease;
}

.gift-cell a {
    font-family: monospace;
    color: #ffffff;
    text-decoration: none;
}

.gift-cell a:hover {
    text-decoration: underline;
}
#addBtn {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ffcc00;
    color: #333;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
